// Template: Home
// ============================================================================


.t-home {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.t-home__content {
  @include media-query(1000px) {
    margin: 0 auto;
  }
}

.t-home__section {
  width: 100%;
  flex-basis: 100%;

  @include media-query(768px) {
    max-width: 368px;
    min-width: 368px;
    flex: 0 0 368px; // Fixes safari flex flow bug


    &:nth-child(2n-1) {
      margin-left: map-get($size-map, lg);
    }
  }
}

.t-home__section--large {
  width: 100%;
  max-width: 768px;
  flex-basis: 100%;
}

.t-home__topics-list {
  list-style: disc;
}

