---
layout: default
---

<div class="t-home u-full-vw u-full-vw" style="background-image: url({{ '/assets/img/home-bg-3.jpg' | prepend: site.baseurl }})">
  <div class="u-measure-wide u-px-md t-home__content">
    <div class="u-inline-block u-height-2of3 u-color-secondary u-padding-top-lg u-padding-bottom-lg u-margin-top-xl u-margin-bottom-xl">
      <h1 class="u-text-size-massive u-padding-bottom-md u-bold">Ultrafast Optics 2017</h1>
      <h2 class="u-padding-bottom-md">Jackson Hole, WY</h2>
      <h2>Topic 1, topic 2, topic 3, topic 4</h2>
    </div>


  <div class="u-flexbox u-flex-wrap u-margin-top-xl u-height-1of3">
    <div class="u-flex t-home__section u-border-top-secondary u-color-secondary u-margin-bottom-lg">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">Coming Soon</h1>
      <p>Speakers to be announced soon.</p>
    </div>
    <div class="u-flex t-home__section u-border-top-secondary u-color-secondary u-margin-bottom-lg">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">About</h1>
      <p>Co-chairs: Dr Alan Fry Dr Charles Durfee</p>
      <p>Hosting and accomidation at: <br> <a href="http://www.snowking.com/">Snow King Resort</a>.</p>
    </div>
    <div class="u-flex t-home__section u-border-top-secondary u-color-secondary">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">Interested?</h1>
      <p>Let us know by filling out our interest form</p>
      <a href="#">Google Form</a>
    </div>
  </div>
</div>

  <footer class="u-full-vw u-padding-top-lg u-padding-bottom-lg">
    <div class="u-flexbox u-measure-wide u-mx-auto u-text-size-small">
      <p class="u-flex u-px-md u-color-secondary">
        Copyright 2016 Ultrafast Optics
      </p>

      <p class="u-flex u-px-md u-color-secondary">
        Some social media links
      </p>

      <p class="u-flex u-px-md u-color-secondary">
        some sponsors
      </p>
    </div>
  </footer>
</div>

