---
layout: default
---

<div class="t-home u-full-vw u-full-vw" style="background-image: url({{ '/assets/img/home-bg-4.jpg' | prepend: site.baseurl }})">
  <div class="u-measure-wide u-px-md t-home__content">
    <div class="u-inline-block u-height-2of3 u-color-secondary u-padding-top-lg u-padding-bottom-lg u-margin-top-xl u-margin-bottom-xl">
      <h1 class="u-text-size-massive u-padding-bottom-md u-text-weight-normal">Ultrafast <span class="u-bold">Optics 2017</span></h1>
      <h2 class="u-padding-bottom-md"><a href="http://www.jacksonholetraveler.com">Jackson Hole, WY</a></h2>
      <h2 class="u-padding-bottom-md">October 8-13, 2017</h2>

    </div>


  <div class="u-flexbox u-flex-wrap u-margin-top-xl u-height-1of3">
    <div class="u-flex t-home__section--large u-px-md u-border-top-secondary u-color-secondary u-margin-bottom-lg">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">Topics</h1>
        <ul class="t-home__topics-list u-padding-left-lg">
          <li>Generation of atto-, femto- and picosecond optical pulses from lasers</li>
          <li>Parametric and quantum amplifiers of ultrashort pulses</li>
          <li>Ultrahigh peak-power laser systems and related technologies</li>
          <li>Novel methods for shaping and measuring ultrashort pulses</li>
          <li>Advances in nonlinear frequency conversion techniques</li>
          <li>Few-cycle pulses, carrier-envelope phase control</li>
          <li>Ultrashort THz pulses</li>
          <li>Current and prospective applications requiring novel or improved ultrafast sources and technologies</li>
          <li>Ultrafast laser applications</li>
        </ul>
    </div>    
    <div class="u-flex t-home__section u-px-md u-border-top-secondary u-color-secondary u-margin-bottom-lg">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">Coming Soon</h1>
      <p>Speakers to be announced soon.</p>
      <p>Hosting and accomidation at: <br> <a href="http://www.snowking.com/">Snow King Resort</a>.</p>
      <p><a href="http://bookings.ihotelier.com/bookings.jsp?groupID=1709874&hotelID=77244">Book your hostel reservation here.</a></p>
    </div>
    <div class="u-flex t-home__section u-px-md u-border-top-secondary u-color-secondary u-margin-bottom-lg">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">About</h1>
      <p>Conference General Chairs: <br><a href="mailto:alanfry@stanford.edu">Alan Fry</a> &amp; <a href="mailto:cdurfee@mines.edu">Charles Durfee</a></p>
      <p>Program committee Chair: <br> <a href="mailto:steinmey@mbi-berlin.de">Günter Steinmeyer</a></p>
      <p>Past conferences:</p>
      <a href="http://www.ultrafastoptics2011.org/">Ultrafast 2011</a>
      <a href="http://www.ultrafastoptics.org/">Ultrafast 2013</a>
      <a href="http://www.ultrafastoptics2015.org">Ultrafast 2015</a>
      
    </div>
    <div class="u-flex t-home__section u-px-md u-border-top-secondary u-color-secondary">
      <h1 class="u-padding-top-md u-bold u-padding-bottom-md">Interested?</h1>
      <p>Let us know by filling out our interest form</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSd02iqxDWsLIslhgk-4hTuD_XtOX7u-k1tQIc9qQMGVE_yZlA/viewform?c=0&w=1&usp=mail_form_link">Google Form</a>
      <p>Direct general questions to <a href="mailto:ultrafastoptics2017@gmail.com">ultrafastoptics2017@gmail.com</a></p>
    </div>
  </div>
</div>

  <footer class="u-full-vw u-margin-top-lg u-padding-top-md u-padding-bottom-sm u-bg-secondary">
    <div class="u-mobile-flexbox u-measure-wide u-mx-auto u-text-size-small">
      <p class="u-flex u-px-md">
        Copyright 2016 Ultrafast Optics
      </p>

      <p class="u-flex u-px-md u-color-secondary">
      <a href="https://www.facebook.com/events/237925006602993/" class="c-social-icon"><svg xmlns="http://www.w3.org/2000/svg" class="c-icon" viewBox="0 0 16 16" width="16" height="16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path fill-rule="nonzero" d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.476-1.195 1.176v1.54h2.39l-.31 2.416h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0"></path></svg></a>

      <a href="https://twitter.com/UOptics2017" class="c-social-icon"><svg class="c-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path fill-rule="nonzero" d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z"></path></svg></a> 
      </p>

      <p class="u-flex u-px-md u-color-secondary">
        <img src="/assets/icons/pulse-logo.svg" alt="pulse logo">
      </p>
    </div>
  </footer>
</div>

