---
layout: default
---

<div class="t-home u-full-vw u-full-vh u-full-vw u-full-vh" style="background-image: url({{ '/assets/img/home-bg-3.jpg' | prepend: site.baseurl }})">
  <div class="u-measure-wide u-px-md t-home__content">
    <h1 class="u-inline-block u-height-2of3 u-text-size-massive u-color-secondary u-width-3of4 u-padding-top-lg u-padding-bottom-lg u-margin-top-xl u-margin-bottom-xl">Ultrafast Optics 2017</h1>
    
    <div class="u-flexbox u-bottom-0 u-position u-width-full u-height-1of3">
      <div class="u-width-1of4 u-border-top-secondary u-margin-left-lg u-color-secondary">
        <h1 class="u-padding-top-md">Coming Soon</h1>
      </div>
      <div class="u-width-1of4 u-border-top-secondary u-color-secondary u-margin-left-lg">
        <h1 class="u-padding-top-md">Intersted?</h1>
        <p>Let us know by filling out our interest form</p>
        <a href="#">Google Form</a>
      </div>
    </div>
  </div>
</div>